@charset "UTF-8";

@import "/common/obelisk/core/_font";
@import "/common/obelisk/core/_font-icon";

@mixin box-shadow {
    box-shadow: 3px 3px 5px rgba(0, 33, 66, .2);
}

.layout-2-wings {
    *zoom: 1;
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    .layout-body-wrap {
        float: left;
        width: 100%;
    }
    .layout-body {
        margin: 0 200px 0 300px;
    }
    .layout-wing-left {
        float: left;
        width: 200px;
        margin-left: -100%;
    }
    .layout-wing-right {
        float: left;
        width: 300px;
        margin-left: -300px;
    }
}

.micon {
    &.micon-problem:after { content: "\e004"; }
    &.micon-down:after { content: "\e006"; }
    &.micon-up:after { content: "\e007"; }
    &.micon-right:after {content: "\e008"}
    &.micon-left:after {content: "\e009"}
    &.micon-replay:after {content: "\e044"}
    &.micon-flag:after {content: "\e066"}
    &.micon-flag-f:after {content: "\e067"}
    &.micon-attach:after {content: "\e02f"}
    &.micon-eye:after {content: "\e028"}
    &.micon-setting:after {content: "\e04b"}
    &.micon-star:after {content: "\e037"}
    &.micon-star-f:after {content: "\e038"}
    &.micon-basket:after {content: "\e020"}
    &.micon-rfq:after {content: "\e010"}
    &.micon-tm:after {content: "\e00e"}
    &.micon-facebook:after {content: "\e140"}
    &.micon-twitter:after {content: "\e142"}
    &.micon-googleplus:after {content: "\e141"}
    &.micon-linkedin:after {content: "\e144"}
    &.micon-apple:after {content: "\e056"}
    &.micon-android:after {content: "\e057"}
    &.micon-menu:after {content: "\e06b"}
    &.micon-contact-us:after {content: "\e1f5"}
}

.m-header {
    color: #555;
    background: #fff;
    font: 12px/1.5 "Roboto-Regular", arial, "Microsoft Yahei", sans-serif;
    padding: 1px 0;

    .grid{
        background-color: #fff;
    }
    
    a {
        color: #555 !important;
        &:hover {
            text-decoration: none;
        }
        &.link-blue {
            color: #1470cc !important;
            &:hover {
                color: #f60 !important;
            }
        }
    }

    .num,
    .num-basket {
        font-style: normal;
    }

    .m-header-row {
        margin: 20px 0;
        *zoom: 1;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    .m-logo-wrap {
        float: left;
    }
    .m-logo {
        display: block;
        width: 210px;
        height: 43px;
        float: left;
        background: url(/common/img/logo-2.png) left top no-repeat;
        &:hover {
            background-position: left bottom;
        }
    }
    .m-channel-name {
        float: left;
        line-height: 35px;
        font-size: 16px;
        font-weight: normal;
        margin-left: 10px;
        padding-top: 7px;
        color: #222;
        a {
            color: #222;
            &:hover {
                color: #f73;
                text-decoration: none;
            }
        }
        sup {
            color: #888;
        }
    }
    .m-header-menu {
        float: right;
        margin-top: 16px;
    }
    .m-header-menu-item {
        float: left;
        padding: 0 10px;
        .m-header-menu-title {
            .num {
                display: inline-block;
                padding: 0 5px;
                border-radius: 8px;
                background: #e64545;
                color: #fff;
            }
        }
        &.m-header-menu-basket {
            .micon-basket {
                margin-right: 5px;
            }
            .num-basket {
                color: #e64545;
            }
        }
            
    }
    .m-header-menu-gap {
        float: left;
        border-left: 1px solid #dae0e6;
        width: 0;
        height: 12px;
        position: relative;
        top: 3px;
        margin: 0 5px;
    }

    .m-header-select {
        .m-header-select-title {
            display: block;
            padding: 5px 10px;
            border: 1px solid #fff;
            margin: -6px -11px;
            border-radius: 3px 3px 0 0;
            cursor: pointer;
            .micon {
                margin: 0 0 0 5px;
            }
        }
        .m-header-option-list {
            @include box-shadow;
            position: absolute;
            left: -1px;
            top: 22px;
            display: none;
            border: 1px solid #ced3d9;
            background: #fff;
            white-space: nowrap;
            padding: 5px 0;
            border-radius: 0 3px 3px 3px;;
            .m-header-option {
                position: relative;
                z-index: 12;
                a {
                    display: block;
                    padding: 5px 10px;
                    &:hover {
                        background: #e6ecf2;
                    }
                }
            }
            .m-header-option-with-num {
                position: relative;
                a {
                    padding-right: 40px;
                }
                .num {
                    color: #e64545;
                    position: absolute;
                    right: 10px;
                    top: 5px;
                }
            }
            .m-header-option-caption {
                padding: 5px 10px;
                font-family: 'Roboto-bold';
                color: #222;
            }
            .m-header-option-gap {
                margin: 5px 10px;
                height: 0;
                border-top: 1px solid #dae0e6;
            }
            &.m-header-option-list-left {
                left: auto;
                right: -1px;
                border-radius: 3px 0 3px 3px;
            }
        }
        &:hover {
            position: relative;
            z-index: 10;
            .m-header-select-title {
                @include box-shadow;
                border: 1px solid #ced3d9;
                border-bottom: 1px solid #fff;
                border-bottom: none;
                background: #fff;
                position: relative;
                z-index: 12;
            }
            .m-header-option-list {
                display: block;
                // z-index: 11;
                
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: 12;
                    width: 100%;
                    height: 8px;
                    background: #fff;
                    top: 0;
                    left: 0;
                }
            }
        }
        
    }
        


    .layout-2-wings {
        &.m-cate-search-rfq {
            .layout-body {
                margin: 0 200px 0 200px;
            }
            .layout-wing-left {
                width: 190px;
            }
            .layout-wing-right {
                width: 190px;
                margin-left: -190px;
            }
        }
        &.m-cate-search {
            .layout-body {
                margin: 0 0 0 200px;
            }
            .layout-wing-left {
                width: 190px;
            }
        }
        &.with-long-cate {
            .layout-body {
                margin-left: 265px;
            }
            .layout-wing-left {
                width: 255px;
            }
        }

        &.m-search-rfq {
            .layout-body {
                margin: 0 200px 0 0;
            }
            .layout-wing-right {
                width: 190px;
                margin-left: -190px;
            }
        }


        &.m-search-bar {
            .layout-body {
                margin: 0 60px 0 115px;
            }
            .layout-wing-left {
                width: 115px;
            }
            .layout-wing-right {
                width: 60px;
                margin-left: -60px;
            }
            &.m-search-bar-no-option {
                .layout-body {
                    margin: 0 60px 0 0;
                }
            }
            &.m-search-bar-long-option {
                .layout-body {
                    margin: 0 60px 0 200px;
                }
                .layout-wing-left {
                    width: 200px;
                }
            }
        }

    }

// search bar

    .m-search-bar {
        border: 2px solid #e64545;
        box-sizing: border-box;
        height: 40px;
        .m-search-input {
            font-size: 14px;
            width: 100%;
            border: none;
            height: 36px;
            line-height: 36px;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .m-search-tips-wrap {
            position: relative;
            display: none;
            z-index: 1;
            .m-search-tips-list {
                box-sizing: border-box;
                width: 100%;
                position: absolute;
                border: 1px solid #ced3d9;
                box-shadow: 1px 1px 5px rgba(0,0,0,.2);
                background: #fff;
                z-index: 10;
            }
            .m-search-tip {
                display: block;
                padding: 0 10px;
                line-height: 30px;
                cursor: pointer;
                &:hover, &.hover {
                    background: #e6ecf2;
                }
                .keyword-highlight {
                    color: #e64545;
                }
                .keyword-cate {
                    color: #1470cc;
                }
                a {
                    display: block;
                    color: #555;
                }
            }
            .m-search-tip-title {
                padding: 0 10px;
                line-height: 30px;
                color: #888;
            }
        }
        .m-search-select {
            position: relative;
            cursor: pointer;
            .m-search-select-title {
                font-size: 14px;
                white-space: nowrap;
                height: 36px;
                line-height: 36px;
                border-right: 1px solid #ccc;
                padding: 0 20px;
                position: relative;
                .micon {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                }
            }
            .m-search-option-list {
                @include box-shadow;
                display: none;
                box-sizing: border-box;
                min-width: 100%;
                position: absolute;
                border: 1px solid #ced3d9;
                background: #fff;
                z-index: 10;
            }
            .m-search-option {
                white-space: nowrap;
                a {
                    display: block;
                    padding: 0 20px;
                    line-height: 30px;
                }
                &:hover {
                    background: #e6ecf2;
                }
            }
            .m-search-option-selected {
                display: none;
            }
            &.hover {
                .m-search-option-list {
                    display: block;
                }
            }


        }

        
        .m-search-btn {
            border: none;
            width: 60px;
            height: 40px;
            background: #e64545;
            color: #fff;
            text-align: center;
            line-height: 36px;
            position: relative;
            top: -2px;
            right: -2px;
        }
        &.m-search-bar-gray {
            border: 1px solid #c2c7cc;
            
            .m-search-select-title {
                height: 38px;
                line-height: 38px;
            }
            .m-search-btn {
                top: -1px;
                right: -1px;
            }
        }
    }

    .m-cate-list-wrap {
        height: 40px;
        position: relative;
        .m-cate-list-title {
            font-size: 14px;
            white-space: nowrap;
            border: 1px solid #ced3d9;
            background: #fff;
            height: 38px;
            line-height: 38px;
            padding: 0 10px;
            position: relative;
            cursor: pointer;
            .micon-menu {
                margin-right: 5px;
            }
            .micon-down {
                float: right;
                position: absolute;
                top: 11px;
                right: 10px;
            }
        }
        .m-cate-list-outer {
            width: 990px;
            position: relative;
        }
        .m-cate-list {
            @include box-shadow;
            border: 1px solid #ced3d9;
            background: #fff;
            position: absolute;
            margin-top: -1px;
            display: none;
            white-space: nowrap;
            padding: 5px 0;
            .m-cate-list-sub {
                padding: 15px;
                float: left;
                position: relative;
                z-index: 11;
            }
            a {
                display: block;
                padding: 5px;
                overflow: hidden;
                .micon {
                    float: left;
                    margin-right: 5px;
                }
                .m-cate-name {
                    display: block;
                    overflow: hidden;
                    zoom: 1;
                }
                &:hover {
                    background: #e6ecf2;
                    color: #555;
                }
            }
        }
        &:hover {
            .m-cate-list-title {
                @include box-shadow;
                z-index: 10;
                border-bottom: none;
                position: relative;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    padding-right: 10px;
                    height: 10px;
                    left: 0;
                    top: 38px;
                    background: #fff;
                }
            }
            .m-cate-list {
                display: block;
            }
        }

    }
    .m-rfq {
        display: block;
        border: 1px solid #ced3d9;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #e64545;
        font-size: 14px;
        .micon-rfq {
            margin-right: 5px;
        }
    }



    .m-related-keywords-wrap {
        margin-top: 10px;
        color: #888;
        a {
            display: inline-block;
            color: #888;
        }
        .m-related-keywords {
            margin-right: 10px;
        }
        .m-related-keywords-more {
            display: inline-block;
            color: #888;
            position: relative;
            .m-related-keywords-list {
                position: absolute;
                display: none;
                border: 1px solid #ced3d9;
                background: #fff;
                white-space: nowrap;
                padding: 5px 0;
                border-radius: 3px;
                
                a {
                    display: block;
                    padding: 5px 10px;
                    &:hover {
                        background: #e6ecf2;
                    }
                }
            }
            &:hover {
                .m-related-keywords-list {
                    display: block;
                }
            }
        }
    }


}
// line dae0e6

.m-footer {
    background: #f0f1f2;
    font-family: "Roboto-Regular", arial, "Microsoft Yahei";
    a {
        color: #888;
        &:hover {
            color: #ff7733;
        }
    }
    .m-footer-links {
        font-size: 14px;
        border-bottom: 1px solid #dae0e6;
        padding-top: 30px;
        .m-footer-links-col {

        }
        .m-footer-links-col-group {
            margin-right: 240px;
            margin-left: -10px;
            .m-footer-links-col {
                box-sizing: border-box;
                float: left;
                padding: 0 10px;
                width: 33.33%;
            }
            .m-footer-link {
                margin-bottom: 5px;
            }
        }
        .m-footer-links-col-single {
            float: right;
            width: 230px;
        }
        .m-footer-links-item {
            margin-bottom: 20px;
            .m-footer-links-title {
                margin-bottom: 10px;
            }
        }
        .m-footer-alert {
            a {
                display: block;
                background: #ccc;
                height: 90px;
                border-radius: 3px;
                background: url(/common/img/header-footer/product-alert.jpg) 0 0 no-repeat;
            }
        }
        .m-footer-co-brands {
            a {
                display: block;
                height: 50px;
                width: 110px;
                border-radius: 3px;
                background: url(/common/img/header-footer/co-brands.png) 0 0 no-repeat;
            }
            .m-brand-mei {
                float: left;
                background-position: 0 0;
            }
            .m-brand-inq {
                float: right;
                background-position: 0 -50px;
            }
        }
    }


    .m-footer-soft-social {
        color: #555;
        padding: 15px 0;
        font-size: 14px;
        border-bottom: 1px solid #dae0e6;
        height: 30px;
        line-height: 30px;
        margin-bottom: -10px;
        .m-footer-soft-social-title {
            margin-right: 5px;
        }
        .m-footer-app {
            float: left;
            a {
                display: inline-block;
                margin-right: 10px;
                padding: 0 10px;
                color: #fff;
                border-radius: 3px;
                &:hover {
                    text-decoration: none;
                }
            }
            .micon {
                margin-right: 5px;
                vertical-align: -2px;
            }
            .m-app-store {
                background: #a6a6a6;
            }
            .m-google-play {
                background: #86bf13;
            }
        }
        .m-footer-tm,
        .m-footer-contact-us {
            float: right;
            margin-right: 40px;
            a {
                color: #6792d1;
            }
            .micon {
                font-size: 20px;
            }
        }
        .m-footer-contact-us {
            a {
                color: #4eb860;
            }
        }

        .m-footer-social {
            float: right;
            margin-right: -5px;
            .micon {
                font-size: 20px;
            }
            a {
                margin-right: 5px;
                color: #999;
                &:hover {
                    .micon-facebook {
                        color: #6281c4
                    }
                    .micon-twitter {
                        color: #1fc5f9
                    }
                    .micon-googleplus {
                        color: #e75d67
                    }
                    .micon-linkedin {
                        color: #0077b5
                    }
                }
            }
        }
    }

    .m-footer-simple-links {
        padding: 30px 0 40px;
        text-align: center;
        color: #888;
        .m-gap-line {
            border-left: 1px solid #ccc;
            margin: 0 7px;
            display: inline-block;
            height: 12px;
            vertical-align: middle;
        }
        .m-footer-simple-links-group {
            margin-bottom: 20px;
        }
        .m-footer-simple-links-row {
            margin-bottom: 5px;
        }
        .m-footer-simple-links-title {
            margin-right: 7px;
        }
        .m-footer-simple-links-certi {
            margin-bottom: 10px;
        }
    }
    .m-ico-police {
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 5px;
        background: url(/common/img/logo/ghs.png) 0 0 no-repeat;
    }

}