/*
the lib for flag in fake select

@Author:lvx 2012-10-24
@warnning:Don't cover

*/
.flags {
  @mixin pos($x, $y: $x) {
    background-position: $x $y;
  }

  .flag {
    &:before {
      content: "";
      width: 16px;
      height: 11px;
      display: inline-block;
      margin-right: 5px;
      font-size: 0;
      background: url("$${path.common}/img/icon/flags.png?t=20160627") no-repeat;
    }
  }

  .flag-ad:before {
    @include pos(-16px, 0)
  }
  .flag-ae:before {
    @include pos(-32px, 0)
  }
  .flag-af:before {
    @include pos(-48px, 0)
  }
  .flag-ag:before {
    @include pos(-64px, 0)
  }
  .flag-ai:before {
    @include pos(-80px, 0)
  }
  .flag-al:before {
    @include pos(-96px, 0)
  }
  .flag-am:before {
    @include pos(-112px, 0)
  }
  .flag-an:before {
    @include pos(-128px, 0)
  }
  .flag-ao:before {
    @include pos(-144px, 0)
  }
  .flag-ar:before {
    @include pos(-160px, 0)
  }
  .flag-as:before {
    @include pos(-176px, 0)
  }
  .flag-at:before {
    @include pos(-192px, 0)
  }
  .flag-au:before {
    @include pos(-208px, 0)
  }
  .flag-aw:before {
    @include pos(-224px, 0)
  }
  .flag-az:before {
    @include pos(-240px, 0)
  }
  .flag-ba:before {
    @include pos(0, -11px)
  }
  .flag-bb:before {
    @include pos(-16px, -11px)
  }
  .flag-bd:before {
    @include pos(-32px, -11px)
  }
  .flag-be:before {
    @include pos(-48px, -11px)
  }
  .flag-bf:before {
    @include pos(-64px, -11px)
  }
  .flag-bg:before {
    @include pos(-80px, -11px)
  }
  .flag-bh:before {
    @include pos(-96px, -11px)
  }
  .flag-bi:before {
    @include pos(-112px, -11px)
  }
  .flag-bj:before {
    @include pos(-128px, -11px)
  }
  .flag-bm:before {
    @include pos(-144px, -11px)
  }
  .flag-bn:before {
    @include pos(-160px, -11px)
  }
  .flag-bo:before {
    @include pos(-176px, -11px)
  }
  .flag-br:before {
    @include pos(-192px, -11px)
  }
  .flag-bs:before {
    @include pos(-208px, -11px)
  }
  .flag-bt:before {
    @include pos(-224px, -11px)
  }
  .flag-bv:before {
    @include pos(-240px, -11px)
  }
  .flag-bw:before {
    @include pos(0, -22px)
  }
  .flag-by:before {
    @include pos(-16px, -22px)
  }
  .flag-bz:before {
    @include pos(-32px, -22px)
  }
  .flag-ca:before {
    @include pos(-48px, -22px)
  }
  .flag-catalonia:before {
    @include pos(-64px, -22px)
  }
  .flag-cd:before {
    @include pos(-80px, -22px)
  }
  .flag-cf:before {
    @include pos(-96px, -22px)
  }
  .flag-cg:before {
    @include pos(-112px, -22px)
  }
  .flag-ch:before {
    @include pos(-128px, -22px)
  }
  .flag-ci:before {
    @include pos(-144px, -22px)
  }
  .flag-ck:before {
    @include pos(-160px, -22px)
  }
  .flag-cl:before {
    @include pos(-176px, -22px)
  }
  .flag-cm:before {
    @include pos(-192px, -22px)
  }
  .flag-cn:before {
    @include pos(-208px, -22px)
  }
  .flag-co:before {
    @include pos(-224px, -22px)
  }
  .flag-cr:before {
    @include pos(-240px, -22px)
  }
  .flag-cu:before {
    @include pos(0, -33px)
  }
  .flag-cv:before {
    @include pos(-16px, -33px)
  }
  .flag-cw:before {
    @include pos(-32px, -33px)
  }
  .flag-cy:before {
    @include pos(-48px, -33px)
  }
  .flag-cz:before {
    @include pos(-64px, -33px)
  }
  .flag-de:before {
    @include pos(-80px, -33px)
  }
  .flag-dj:before {
    @include pos(-96px, -33px)
  }
  .flag-dk:before {
    @include pos(-112px, -33px)
  }
  .flag-dm:before {
    @include pos(-128px, -33px)
  }
  .flag-do:before {
    @include pos(-144px, -33px)
  }
  .flag-dz:before {
    @include pos(-160px, -33px)
  }
  .flag-ec:before {
    @include pos(-176px, -33px)
  }
  .flag-ee:before {
    @include pos(-192px, -33px)
  }
  .flag-eg:before {
    @include pos(-208px, -33px)
  }
  .flag-eh:before {
    @include pos(-224px, -33px)
  }
  .flag-england:before {
    @include pos(-240px, -33px)
  }
  .flag-er:before {
    @include pos(0, -44px)
  }
  .flag-es:before {
    @include pos(-16px, -44px)
  }
  .flag-et:before {
    @include pos(-32px, -44px)
  }
  .flag-eu:before {
    @include pos(-48px, -44px)
  }
  .flag-fi:before {
    @include pos(-64px, -44px)
  }
  .flag-fj:before {
    @include pos(-80px, -44px)
  }
  .flag-fk:before {
    @include pos(-96px, -44px)
  }
  .flag-fm:before {
    @include pos(-112px, -44px)
  }
  .flag-fo:before {
    @include pos(-128px, -44px)
  }
  .flag-fr:before {
    @include pos(-144px, -44px)
  }
  .flag-ga:before {
    @include pos(-160px, -44px)
  }
  .flag-gb:before {
    @include pos(-176px, -44px)
  }
  .flag-gd:before {
    @include pos(-192px, -44px)
  }
  .flag-ge:before {
    @include pos(-208px, -44px)
  }
  .flag-gf:before {
    @include pos(-224px, -44px)
  }
  .flag-gg:before {
    @include pos(-240px, -44px)
  }
  .flag-gh:before {
    @include pos(0, -55px)
  }
  .flag-gi:before {
    @include pos(-16px, -55px)
  }
  .flag-gl:before {
    @include pos(-32px, -55px)
  }
  .flag-gm:before {
    @include pos(-48px, -55px)
  }
  .flag-gn:before {
    @include pos(-64px, -55px)
  }
  .flag-gp:before {
    @include pos(-80px, -55px)
  }
  .flag-gq:before {
    @include pos(-96px, -55px)
  }
  .flag-gr:before {
    @include pos(-112px, -55px)
  }
  .flag-gs:before {
    @include pos(-128px, -55px)
  }
  .flag-gt:before {
    @include pos(-144px, -55px)
  }
  .flag-gu:before {
    @include pos(-160px, -55px)
  }
  .flag-gw:before {
    @include pos(-176px, -55px)
  }
  .flag-gy:before {
    @include pos(-192px, -55px)
  }
  .flag-hk:before {
    @include pos(-208px, -55px)
  }
  .flag-hm:before {
    @include pos(-224px, -55px)
  }
  .flag-hn:before {
    @include pos(-240px, -55px)
  }
  .flag-hr:before {
    @include pos(0, -66px)
  }
  .flag-ht:before {
    @include pos(-16px, -66px)
  }
  .flag-hu:before {
    @include pos(-32px, -66px)
  }
  .flag-ic:before {
    @include pos(-48px, -66px)
  }
  .flag-id:before {
    @include pos(-64px, -66px)
  }
  .flag-ie:before {
    @include pos(-80px, -66px)
  }
  .flag-il:before {
    @include pos(-96px, -66px)
  }
  .flag-im:before {
    @include pos(-112px, -66px)
  }
  .flag-in:before {
    @include pos(-128px, -66px)
  }
  .flag-io:before {
    @include pos(-144px, -66px)
  }
  .flag-iq:before {
    @include pos(-160px, -66px)
  }
  .flag-ir:before {
    @include pos(-176px, -66px)
  }
  .flag-is:before {
    @include pos(-192px, -66px)
  }
  .flag-it:before {
    @include pos(-208px, -66px)
  }
  .flag-je:before {
    @include pos(-224px, -66px)
  }
  .flag-jm:before {
    @include pos(-240px, -66px)
  }
  .flag-jo:before {
    @include pos(0, -77px)
  }
  .flag-jp:before {
    @include pos(-16px, -77px)
  }
  .flag-ke:before {
    @include pos(-32px, -77px)
  }
  .flag-kg:before {
    @include pos(-48px, -77px)
  }
  .flag-kh:before {
    @include pos(-64px, -77px)
  }
  .flag-ki:before {
    @include pos(-80px, -77px)
  }
  .flag-km:before {
    @include pos(-96px, -77px)
  }
  .flag-kn:before {
    @include pos(-112px, -77px)
  }
  .flag-kp:before {
    @include pos(-128px, -77px)
  }
  .flag-kr:before {
    @include pos(-144px, -77px)
  }
  .flag-kurdistan:before {
    @include pos(-160px, -77px)
  }
  .flag-kw:before {
    @include pos(-176px, -77px)
  }
  .flag-ky:before {
    @include pos(-192px, -77px)
  }
  .flag-kz:before {
    @include pos(-208px, -77px)
  }
  .flag-la:before {
    @include pos(-224px, -77px)
  }
  .flag-lb:before {
    @include pos(-240px, -77px)
  }
  .flag-lc:before {
    @include pos(0, -88px)
  }
  .flag-li:before {
    @include pos(-16px, -88px)
  }
  .flag-lk:before {
    @include pos(-32px, -88px)
  }
  .flag-lr:before {
    @include pos(-48px, -88px)
  }
  .flag-ls:before {
    @include pos(-64px, -88px)
  }
  .flag-lt:before {
    @include pos(-80px, -88px)
  }
  .flag-lu:before {
    @include pos(-96px, -88px)
  }
  .flag-lv:before {
    @include pos(-112px, -88px)
  }
  .flag-ly:before {
    @include pos(-128px, -88px)
  }
  .flag-ma:before {
    @include pos(-144px, -88px)
  }
  .flag-mc:before {
    @include pos(-160px, -88px)
  }
  .flag-md:before {
    @include pos(-176px, -88px)
  }
  .flag-me:before {
    @include pos(-192px, -88px)
  }
  .flag-mg:before {
    @include pos(-208px, -88px)
  }
  .flag-mh:before {
    @include pos(-224px, -88px)
  }
  .flag-mk:before {
    @include pos(-240px, -88px)
  }
  .flag-ml:before {
    @include pos(0, -99px)
  }
  .flag-mm:before {
    @include pos(-16px, -99px)
  }
  .flag-mn:before {
    @include pos(-32px, -99px)
  }
  .flag-mo:before {
    @include pos(-48px, -99px)
  }
  .flag-mp:before {
    @include pos(-64px, -99px)
  }
  .flag-mq:before {
    @include pos(-80px, -99px)
  }
  .flag-mr:before {
    @include pos(-96px, -99px)
  }
  .flag-ms:before {
    @include pos(-112px, -99px)
  }
  .flag-mt:before {
    @include pos(-128px, -99px)
  }
  .flag-mu:before {
    @include pos(-144px, -99px)
  }
  .flag-mv:before {
    @include pos(-160px, -99px)
  }
  .flag-mw:before {
    @include pos(-176px, -99px)
  }
  .flag-mx:before {
    @include pos(-192px, -99px)
  }
  .flag-my:before {
    @include pos(-208px, -99px)
  }
  .flag-mz:before {
    @include pos(-224px, -99px)
  }
  .flag-na:before {
    @include pos(-240px, -99px)
  }
  .flag-nc:before {
    @include pos(0, -110px)
  }
  .flag-ne:before {
    @include pos(-16px, -110px)
  }
  .flag-nf:before {
    @include pos(-32px, -110px)
  }
  .flag-ng:before {
    @include pos(-48px, -110px)
  }
  .flag-ni:before {
    @include pos(-64px, -110px)
  }
  .flag-nl:before {
    @include pos(-80px, -110px)
  }
  .flag-no:before {
    @include pos(-96px, -110px)
  }
  .flag-np:before {
    @include pos(-112px, -110px)
  }
  .flag-nr:before {
    @include pos(-128px, -110px)
  }
  .flag-nu:before {
    @include pos(-144px, -110px)
  }
  .flag-nz:before {
    @include pos(-160px, -110px)
  }
  .flag-om:before {
    @include pos(-176px, -110px)
  }
  .flag-pa:before {
    @include pos(-192px, -110px)
  }
  .flag-pe:before {
    @include pos(-208px, -110px)
  }
  .flag-pf:before {
    @include pos(-224px, -110px)
  }
  .flag-pg:before {
    @include pos(-240px, -110px)
  }
  .flag-ph:before {
    @include pos(0, -121px)
  }
  .flag-pk:before {
    @include pos(-16px, -121px)
  }
  .flag-pl:before {
    @include pos(-32px, -121px)
  }
  .flag-pm:before {
    @include pos(-48px, -121px)
  }
  .flag-pn:before {
    @include pos(-64px, -121px)
  }
  .flag-pr:before {
    @include pos(-80px, -121px)
  }
  .flag-ps:before {
    @include pos(-96px, -121px)
  }
  .flag-pt:before {
    @include pos(-112px, -121px)
  }
  .flag-pw:before {
    @include pos(-128px, -121px)
  }
  .flag-py:before {
    @include pos(-144px, -121px)
  }
  .flag-qa:before {
    @include pos(-160px, -121px)
  }
  .flag-re:before {
    @include pos(-176px, -121px)
  }
  .flag-ro:before {
    @include pos(-192px, -121px)
  }
  .flag-rs:before {
    @include pos(-208px, -121px)
  }
  .flag-ru:before {
    @include pos(-224px, -121px)
  }
  .flag-rw:before {
    @include pos(-240px, -121px)
  }
  .flag-sa:before {
    @include pos(0, -132px)
  }
  .flag-sb:before {
    @include pos(-16px, -132px)
  }
  .flag-sc:before {
    @include pos(-32px, -132px)
  }
  .flag-scotland:before {
    @include pos(-48px, -132px)
  }
  .flag-sd:before {
    @include pos(-64px, -132px)
  }
  .flag-se:before {
    @include pos(-80px, -132px)
  }
  .flag-sg:before {
    @include pos(-96px, -132px)
  }
  .flag-sh:before {
    @include pos(-112px, -132px)
  }
  .flag-si:before {
    @include pos(-128px, -132px)
  }
  .flag-sk:before {
    @include pos(-144px, -132px)
  }
  .flag-sl:before {
    @include pos(-160px, -132px)
  }
  .flag-sm:before {
    @include pos(-176px, -132px)
  }
  .flag-sn:before {
    @include pos(-192px, -132px)
  }
  .flag-so:before {
    @include pos(-208px, -132px)
  }
  .flag-somaliland:before {
    @include pos(-224px, -132px)
  }
  .flag-sr:before {
    @include pos(-240px, -132px)
  }
  .flag-ss:before {
    @include pos(0, -143px)
  }
  .flag-st:before {
    @include pos(-16px, -143px)
  }
  .flag-sv:before {
    @include pos(-32px, -143px)
  }
  .flag-sx:before {
    @include pos(-48px, -143px)
  }
  .flag-sy:before {
    @include pos(-64px, -143px)
  }
  .flag-sz:before {
    @include pos(-80px, -143px)
  }
  .flag-tc:before {
    @include pos(-96px, -143px)
  }
  .flag-td:before {
    @include pos(-112px, -143px)
  }
  .flag-tf:before {
    @include pos(-128px, -143px)
  }
  .flag-tg:before {
    @include pos(-144px, -143px)
  }
  .flag-th:before {
    @include pos(-160px, -143px)
  }
  .flag-tj:before {
    @include pos(-176px, -143px)
  }
  .flag-tk:before {
    @include pos(-192px, -143px)
  }
  .flag-tl:before {
    @include pos(-208px, -143px)
  }
  .flag-tm:before {
    @include pos(-224px, -143px)
  }
  .flag-tn:before {
    @include pos(-240px, -143px)
  }
  .flag-to:before {
    @include pos(0, -154px)
  }
  .flag-tr:before {
    @include pos(-16px, -154px)
  }
  .flag-tt:before {
    @include pos(-32px, -154px)
  }
  .flag-tv:before {
    @include pos(-48px, -154px)
  }
  .flag-tw:before {
    @include pos(-64px, -154px)
  }
  .flag-tz:before {
    @include pos(-80px, -154px)
  }
  .flag-ua:before {
    @include pos(-96px, -154px)
  }
  .flag-ug:before {
    @include pos(-112px, -154px)
  }
  .flag-um:before {
    @include pos(-128px, -154px)
  }
  .flag-us:before {
    @include pos(-144px, -154px)
  }
  .flag-uy:before {
    @include pos(-160px, -154px)
  }
  .flag-uz:before {
    @include pos(-176px, -154px)
  }
  .flag-va:before {
    @include pos(-192px, -154px)
  }
  .flag-vc:before {
    @include pos(-208px, -154px)
  }
  .flag-ve:before {
    @include pos(-224px, -154px)
  }
  .flag-vg:before {
    @include pos(-240px, -154px)
  }
  .flag-vi:before {
    @include pos(0, -165px)
  }
  .flag-vn:before {
    @include pos(-16px, -165px)
  }
  .flag-vu:before {
    @include pos(-32px, -165px)
  }
  .flag-wales:before {
    @include pos(-48px, -165px)
  }
  .flag-wf:before {
    @include pos(-64px, -165px)
  }
  .flag-ws:before {
    @include pos(-80px, -165px)
  }
  .flag-ye:before {
    @include pos(-96px, -165px)
  }
  // .flag-yt:before {@include pos(-112px, -165px)}
  .flag-yt:before {
    @include pos(-144px, -44px)
  }
  .flag-za:before {
    @include pos(-128px, -165px)
  }
  .flag-zanzibar:before {
    @include pos(-144px, -165px)
  }
  .flag-zm:before {
    @include pos(-160px, -165px)
  }
  .flag-zw:before {
    @include pos(-176px, -165px)
  }

  .flag-bl:before {
    @include pos(-144px, -44px)
  }
  .flag-ax:before {
    @include pos(-0px, -198px)
  }
  .flag-cx:before {
    @include pos(-16px, -198px)
  }
  .flag-cc:before {
    @include pos(-32px, -198px)
  }
  // .flag-mf:before {@include pos(-48px, -198px)}
  .flag-mf:before {
    @include pos(-144px, -44px)
  }
  .flag-zr:before {
    @include pos(-80px, -22px)
  }
  .flag-sj:before {
    @include pos(-96px, -110px)
  }
  .flag-tw:before {
    @include pos(-64px, -198px)
  }

}