@charset "UTF-8";


$table-clr-th-bd:       #ced3d9;
$table-clr-td-bd:       #dae0e6;
$table-clr-bg:          #f5f7fa;
$table-clr-txt:         #555;
$table-clr-hover:       #edf4fa;
.table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    th{
        font-weight: bold;
        text-align: left;
    }
    th,td{
        padding: 10px;
        word-wrap:break-word;
    }
    td{
        color: $table-clr-txt;
    }
}
.table-base{
    width: 100%;
    td{
        border-bottom:1px solid $table-clr-td-bd;
    }
    th{
        border-bottom: 1px solid $table-clr-th-bd;
    }
}

.table-normal,.table-vertical{
    width: 100%;
    td{
        border:1px solid $table-clr-td-bd;
    }
    th{
        border: 1px solid $table-clr-th-bd;
        background: $table-clr-bg;
    }
}

.table-stripe{
    &.table-normal{
        tr:nth-child(2n - 1) td{
            background: $table-clr-bg;
        }
    }
    &.table-base{
        tr:nth-child(2n) td{
            background: $table-clr-bg;
        }
    }
    &.table-vertical{
        td:nth-child(2n -1){
            background: $table-clr-bg;
        }
    }
}
.table-hover{
    tr:hover{
        td{
            background: $table-clr-hover!important;
        }
    }
}


