
.obelisk{
    box-sizing: border-box;
    width: 100%;
    min-width: 990px;
    font-family: 'Microsoft Yahei',sans-serif;
    padding: 40px;
    > h2{
        font-size: 32px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    > h3{
        font-size: 24px;
        margin: 10px 0;
    }
    > h4{
        font-size: 18px;
        margin: 10px 0;
    }
    h5{
        font-size: 14px;
        margin: 10px 0;
        text-indent: 1em;
    }
    .highlight{
        margin: 20px 0;
    }
    .sample{
        margin: 20px 0;
    }
    .sample-block{
        margin-bottom: 30px;
    }
    .tips{
        border: 1px dashed #ddd;
        background: #f3f5f7;
        padding: 20px;
        line-height: 2;
    }
    .copy{
        button{
            float: right;
            height: 24px;
            line-height: 24px;
            border: 1px solid #2F3129;
            border-bottom: 0;
            padding: 0 10px;
            margin-top: -20px;
        }
    }
}
