@font-face {
    font-family: 'Mic-icon';
    src: url("http://www.micstatic.com/gb/font/micon/micon-2/micon.eot?v=20160408");
    src: url("http://www.micstatic.com/gb/font/micon/micon-2/micon.eot?#iefix&v=20160408") format("embedded-opentype"),
    url("http://www.micstatic.com/gb/font/micon/micon-2/micon.woff?v=20160408") format("woff"),
    url("http://www.micstatic.com/gb/font/micon/micon-2/micon.ttf?v=20160408") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.micon {
    font-family: 'Mic-icon';
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
    text-decoration: none !important;
}


.obelisk{
    box-sizing: border-box;
    width: 100%;
    min-width: 990px;
    font-family: 'Microsoft Yahei',sans-serif;
    padding: 40px;
    background: #f3f5f7;
    > h2{
        font-size: 3em;
        padding-bottom: 0.5em;
        border-bottom: 1px solid #ddd;
    }
    > h3{
        font-size: 1.5em;
        margin: .5em 0;
        padding-top: 0.3em;
        color: #555;
    }
    > h4{
        font-size: 18px;
        margin: 10px 0;
    }
    h5{
        font-size: 14px;
        margin: 10px 0;
        text-transform: uppercase;
    }
    .highlight{
        margin: 20px 0;
    }
    .sample{
        margin: 20px 0;
        padding-bottom: 20px;
    }
    .sample-block{
        margin-bottom: 30px;
        border: 1px solid #eee;
        border-radius: 10px;
        background: #fff;
        padding: 30px;
    }
    .tips{
        border: 1px dashed #ddd;
        background: #f3f5f7;
        padding: 20px;
        line-height: 2;
    }
    .copy{
        position: relative;
        .copy-tip{
            position: absolute;
            z-index: 99;
            color: green;
            display: inline-block;
            right: 55px;
            bottom: 0;
        }
        button{
            float: right;
            height: 24px;
            line-height: 24px;
            border: 0;
            background: #e8e9e8;
            padding: 0 10px;
            margin-top: -20px;
        }
    }
}
