@import "obelisk/base";
@import "obelisk/mixin/center";
@import "obelisk/mixin/grid";
@import "obelisk/mixin/layout";
@import "obelisk/lib/button";
@import "obelisk/lib/flag";
@import "obelisk/lib/input";
@import "obelisk/lib/select";
@import "obelisk/module/calendar";
@import "obelisk/module/dialog";
@import "obelisk/module/flags";
@import "obelisk/module/form";
@import "obelisk/module/pager";
@import "obelisk/module/scrollbar";
@import "obelisk/module/step";
@import "obelisk/module/table";
@import "obelisk/module/tag";



.obelisk{
    box-sizing: border-box;
    width: 100%;
    min-width: 990px;
    font-family: 'Microsoft Yahei',sans-serif;
    padding: 40px;
    > h2{
        font-size: 32px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
    }
    > h3{
        font-size: 24px;
        margin: 10px 0;
    }
    > p{

    }
    > h4{
        font-size: 18px;
        margin: 10px 0;
    }
    h5{
        font-size: 14px;
        margin: 10px 0;
        text-indent: 1em;
    }
    .highlight{
        margin: 20px 0;
    }
    .sample{
        margin: 30px 0;
    }

}
